@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-accent-strong: var(--accent-strong);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-amber: var(--accent-amber);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-success: var(--success);
}

:root {
  --font-heebo: "Heebo", "SF Pro Display", "Arial", sans-serif;
  --font-playfair: "Playfair Display", "Georgia", "Times New Roman", serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --tertiary: oklch(0.4191 0.0937 337.24);
  --tertiary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.4 0.2174 17.05);
  --accent-dark: oklch(0.27 0.0797 342.21);
  --accent-strong: oklch(0.7191 0.2072 17.05);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --accent-amber: oklch(0.8044 0.1011 35.47);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --success: oklch(0.7471 0.1431 171.45);
}

.dark {
  --background: oklch(0.15 0.0337 258.28);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.2 0.0337 258.28);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.96 0.0173 360);
  --popover-foreground: oklch(0.25 0.0888 360);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --tertiary: oklch(0.4191 0.0937 337.24);
  --tertiary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.4 0.2174 17.05 / 30%);
  --accent-dark: oklch(0.27 0.0797 342.21);
  --accent-strong: oklch(0.7191 0.2072 17.05);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --accent-amber: oklch(0.8044 0.1011 35.47);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --success: oklch(0.7471 0.1431 171.45);
}

@layer typography {
  .font-playfair {
    font-family: var(--font-playfair);
    letter-spacing: 0.05em;
  }

  .font-heebo {
    font-family: var(--font-heebo);
    letter-spacing: 0.01em;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground text-lg;

    background: linear-gradient(
      to bottom right,
      oklch(0.15 0.0337 258.28) 0%,
      oklch(0.3 0.0641 271.06) 100%
    ) !important;
  }
}

#root {
  @apply p-0 m-0 w-full h-full;

  font-family: var(--font-heebo);
  letter-spacing: 0.01em;
}

::selection {
  background-color: oklch(0.4632 0.1554 360);
  color: oklch(0.8574 0.0913 360);
}

.text-accent-strong {
  color: var(--color-accent-strong);
}

.glass {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 7%);
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 4%) 0%,
    rgb(255 255 255 / 8%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-static {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 7%) !important;
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 4%) 0%,
    rgb(255 255 255 / 8%) 100%
  ) !important;
  backdrop-filter: blur(10px);
}

.glass:hover {
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 5%) 0%,
    rgb(255 255 255 / 10%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-active {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 15%);
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 15%) 0%,
    rgb(255 255 255 / 40%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-active-static {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 15%) !important;
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 15%) 0%,
    rgb(255 255 255 / 40%) 100%
  ) !important;
  backdrop-filter: blur(10px);
}

.glass-active:hover {
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 25%) 0%,
    rgb(255 255 255 / 50%) 100%
  ) !important;
  backdrop-filter: blur(10px);
}

.glass-dark {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 7%);
  background: linear-gradient(
    to bottom right,
    oklch(0.2 0.0543 262.66 / 60%) 0%,
    oklch(0.25 0.0543 262.66 / 70%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-dark-static {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 9%) !important;
  background: linear-gradient(
    to bottom right,
    oklch(0.2 0.0543 262.66 / 60%) 0%,
    oklch(0.25 0.0543 262.66 / 70%) 100%
  ) !important;
  backdrop-filter: blur(10px);
}

.glass-dark:hover {
  @apply transition-all duration-200 ease-in-out;

  background: linear-gradient(
    to bottom right,
    oklch(0.22 0.0543 262.66 / 60%) 0%,
    oklch(0.33 0.0543 262.66 / 70%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-accent-static {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(from var(--color-accent-strong) r g b / 50%) !important;
  background: linear-gradient(
    to bottom right,
    rgb(from var(--color-accent-dark) r g b / 60%) 30%,
    rgb(from var(--color-accent-strong) r g b / 70%) 250%
  ) !important;
  backdrop-filter: blur(10px);
}

.dotted-underline {
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #93c5fd50;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  /* stylelint-enable declaration-block-no-redundant-longhand-properties */
}

.glass-muted {
  @apply transition-all duration-200 ease-in-out;

  border-color: rgb(255 255 255 / 7%);
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 2%) 0%,
    rgb(255 255 255 / 5%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-muted:hover {
  background: linear-gradient(
    to bottom right,
    rgb(255 255 255 / 4%) 0%,
    rgb(255 255 255 / 8%) 100%
  );
  backdrop-filter: blur(10px);
}

.glass-purple {
  @apply transition-all duration-200 ease-in-out;

  border-color: oklch(0.7 0.12 280 / 20%);
  background: linear-gradient(
    to bottom right,
    oklch(62.539% 0.1719 290.717 / 5%) -10%,
    oklch(61.943% 0.1637 277.367 / 15%) -10%,
    oklch(62.231% 0.2541 304.019 / 25%) 80%
  );
  backdrop-filter: blur(10px);
}

.glass-purple:hover {
  background: linear-gradient(
    to bottom right,
    oklch(70.493% 0.1937 322.027 / 5%) -10%,
    oklch(61.943% 0.1637 277.367 / 15%) -10%,
    oklch(69.835% 0.2733 322.014 / 25%) 80%
  );
  backdrop-filter: blur(10px);
}

.glass-red {
  @apply transition-all duration-200 ease-in-out;

  border-color: oklch(0.7 0.12 280 / 20%);
  background: linear-gradient(
    to bottom right,
    oklch(69.951% 0.1587 351.697 / 5%) -10%,
    oklch(68.75% 0.1467 13.248 / 15%) -10%,
    oklch(67.725% 0.2165 11.701 / 25%) 80%
  );
  backdrop-filter: blur(10px);
}

.glass-red:hover {
  background: linear-gradient(
    to bottom right,
    oklch(74.8% 0.1432 350.571 / 5%) -10%,
    oklch(75.207% 0.1389 12.598 / 15%) -10%,
    oklch(71.782% 0.1831 8.404 / 25%) 80%
  );
  backdrop-filter: blur(10px);
}
